@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap&subset=latin-ext");
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Merriweather:300i,400,400i,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
@import url('https://cdn.rawgit.com/noelboss/featherlight/1.7.0/release/featherlight.min.css');

body {
  font-family: ibm plex mono,monospace;
}
body h1 {
  font-size: 2rem;
}

a {
  color: #292b2c;
}

header {
  margin-top: 50px;
  margin-bottom: 60px;
}
header .header-left h2 {
  margin: 0 5px;
  font-size: 1.45rem;
}

.content-wrap {
  margin-top: 30px;
  margin-bottom: 60px;
}

.color-scheme {
  display: -webkit-box;
  display: flex;
}
@media screen and (max-width: 768px) {
  .color-scheme {
    height: 4px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
.color-scheme span {
  display: inline-block;
  -webkit-box-flex: 1;
          flex-grow: 1;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .course-text p:last-child {
    margin-bottom: 0;
  }
}

.course-images {
  overflow-x: hidden;
  white-space: nowrap;
}
.course-images .thumb {
  overflow: hidden;
  display: inline-block;
  height: 100px;
  width: 100px;
}
.course-images .thumb img {
  cursor: pointer;
  display: block;
  width: 100%;
  min-height: 100%;
  -ms-interpolation-mode: bicubic;
}
.course-images img {
  display: inline;
}

.featherlight-content {
  padding: 0 !important;
  border-bottom: none !important;
}